:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan-1: hsl(186, 14%, 43%);
  --dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --light-grayish-cyan-1: hsl(185, 41%, 84%);
  --light-grayish-cyan-2: hsl(189, 41%, 97%);
  --orange: rgb(213, 115, 91);
  --white: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--light-grayish-cyan-1);
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--very-dark-cyan);
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 10px;
}

h1 span {
  display: block;
}

.section {
  background-color: var(--white);
  color: var(--dark-grayish-cyan-1);
  font-weight: 700;
  border-radius: 1.5rem;
  width: 375px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.input {
  cursor: pointer;
  width: 100%;
  background-color: var(--light-grayish-cyan-2);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-left: 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.3s;
}

.input:hover {
  border: 2px solid var(--strong-cyan);
}

.input input {
  width: inherit;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--very-dark-cyan);
  text-align: right;
}

.number-people span{
  opacity: 0;
}

.number-people-zero p span {
    opacity: 1;
    color: var(--orange);
}

.number-people-zero div {
  border: 2px solid var(--orange);
}

.tip-buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--light-grayish-cyan-1);
  color: var(--very-dark-cyan);
}

.btn.active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

::placeholder{
  color: var(--dark-grayish-cyan-2);
}

.btn-custom {
  background-color: var(--light-grayish-cyan-2);
  color: var(--dark-grayish-cyan-1);
  text-align: right;
  padding: 0 1rem;
}

.btn-reset {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

.btn-reset:hover {
  background-color: var(--light-grayish-cyan-1);
}

.btn-reset:disabled {
  opacity: 0.1;
  cursor: not-allowed;
}

.amount {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--very-dark-cyan);
  padding: 3rem 1.5rem 2rem 1.5rem;
  color: var(--white);
  border-radius: 1rem;
}

.amount-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.amount-text p {
  font-size: 1rem;
  line-height: 1.3rem;
  margin: 0;
}

.amount-text span {
  color: var(--dark-grayish-cyan-2);
  font-size: 0.8rem;
}

.amount-number {
  font-size: 2rem;
  color: var(--strong-cyan);
}

.footer {
  margin: 1rem;
  color: var(--very-dark-cyan);
}
.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: var(--strong-cyan);
  text-decoration: none;
}

